@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@400&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Quicksand, sans-serif;
    background-color: #E3AF66;
}


/* logo and nav links */

.flex-nav-links {
    display: flex;
    align-items: center;
}

.nav-logo {
    position: absolute;
    right: 45%;
}

.nav-logo h1 {
    color: green;
    font-family: Pacifico, sans-serif; 
    font-size: 200%;
}

.nav-left {
    font-size: 120%;
    list-style-type: none;
    display: flex;  
}
 
.nav-left, .nav-list-items {
    display: inline-block;
    margin: 20px 10px;
} 

a {
    text-decoration: none;
    color: inherit;
}

.nav-left a:hover {
      color: green;
}

/* Main image */

#caption-text {
    color: beige;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-style: italic;
}

#caption-text hr {
    border: 1px solid green;
    margin-top: 15px;
}


/* Musuem info */

#info-title {
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0 10px;
    font-weight: 600;
}

#flex-info-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  
}

.flex-info {
    border: 1px dotted green;
    flex-basis: 40%;  
    margin-bottom: 15px;
    padding: 10px;
   }


#layout-background {
    background-color: #4F7942;
}

.museum-layout-container img {
    width: 600px;
    height: 300px;
    margin: 8px;
    border: 1px solid #E3AF66;
}

.museum-layout-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.museum-layout-container figcaption {
    color: #E3AF66;
}


/* Social media links */

footer {
    height: 100px;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 150%;
    color: #4F7942;
    margin: 10px;
    padding: 30px;
}

.social-media a:hover {
    opacity: 0.5;
}

/* Collection gallery */

.collection-header {
    text-align: center;
    padding: 32px;
}

.collection-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.collection-column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.collection-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;    
}